body {
  /* background-color: rgb(12, 153, 163); */
  background-color: rgb(192, 217, 219);
  /* background-color: #272727; */
}

.container {
  height: 100vh;
  width: 100vh;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a.rotating {
  text-decoration: none;
  color: rgb(182, 20, 20);
  font-family: fantasy;
  font-size: 45px;
  border: 5px solid rgb(182, 20, 20);
  padding: 40px 80px;
  position: relative;

  overflow: hidden;
}
.rotating:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(141, 114, 204);
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: top left;
  transform: rotate(-90deg);
  transition: transform 1s;
}

.rotating:hover::before {
  transform: rotate(0deg);
}

a.swipe {
  text-decoration: none;
  color: rgb(50, 53, 99);
  font-family: cursive;
  font-size: 45px;
  border: 5px solid rgb(50, 53, 99);
  padding: 40px 80px;
  position: relative;
  transition: all 1s;
  /* to hide the before pseudo element */
  overflow: hidden;
}
.swipe:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: rgb(50, 53, 99);
  /* negative values move to the left */
  transform: translateY(100%);
  transition: all 1s;
}
.swipe:hover::before {
  transform: translateX(0);
}
.swipe:hover {
  color: white;
}

a.cross {
  padding: 40px 80px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
  letter-spacing: 4px;
  border: 5px solid olive;
  color: olive;
  font-size: 45px;
  position: relative;
  transition: 1s;
}
.cross:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: olive;
  transition: 1s;
  transform: rotateX(90deg);
  z-index: -1;
}

.cross:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: olive;
  transition: 1s;
  transform: rotateY(90deg);
  z-index: -1;
}

.cross:hover::before {
  transform: rotateX(0deg);
}

.cross:hover::after {
  transform: rotateY(0deg);
}
.cross:hover {
  color: palegoldenrod;
}

a.stretch {
  text-decoration: none;
  padding: 40px 80px;
  color: coral;
  border: 3px solid coral;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 300;
  letter-spacing: -2px;
  transition: all 0.5s;
}
.stretch:hover {
  font-weight: 900;
  letter-spacing: 10px;
  border: 7px solid coral;
}

a.replace {
  text-decoration: none;
  color: rgb(14, 136, 60);
  font-family: "Russo One", sans-serif;
  font-size: 45px;
  border: 5px solid rgb(14, 136, 60);
  padding: 40px 80px;
  position: relative;
  transition: all 1s;
  /* to hide the before pseudo element */
  overflow: hidden;
}
a.replace::before {
  content: "YEAH";
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(245, 222, 18);
  transform: translateY(-100%);
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.replace:hover::before {
  transform: translateY(0);
}

a.diago-swipe {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 40px;
  border: 3px solid white;
  padding: 40px 80px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}
.diago-swipe:hover {
  background-color: darkseagreen;
}
.diago-swipe::before {
  content: "";
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  height: 50%;
  position: absolute;
  transform: translateX(-100%) rotate(45deg);
  transition: all 1s;
}
.diago-swipe:hover::before {
  transform: translateX(100%) rotate(45deg);
}

a.layer {
  text-decoration: none;
  background-color: rgba(11, 11, 54, 0.322);
  padding: 40px 80px;
  border: 2px solid green;
  font-family: sans-serif;
  font-size: 40px;
  position: relative;

  color: transparent;
  overflow: hidden;
}
.layer:before {
  content: "Before ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: indianred;
  color: rgb(6, 1, 17);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.layer:after {
  content: "After ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: indianred;
  color: rgb(6, 1, 17);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: translate(-100%, 100%);
}
.layer:hover::before {
  transform: translate(100%, -100%);
}
.layer:hover::after {
  transform: translate(0, 0%);
}

a.text-scaling {
  text-decoration: none;
  background-color: turquoise;
  color: rgb(40, 14, 136);
  font-family: sans-serif;
  font-size: 45px;
  border: 5px solid rgb(40, 14, 136);
  padding: 40px 80px;
  position: relative;
  transition: all 1s;
  /* perspective: 500px; */
  overflow: hidden;
}

.text-scaling:before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(40, 14, 136);
  color: turquoise;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(5);
  opacity: 0;
  transition: all 0.5s;
}
.text-scaling:hover::before {
  transform: scale(1);
  opacity: 1;
}

.circular-button {
  border: 2px solid tomato;
  background: none;
  color: tomato;
  padding: 20px 40px;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  color: tomato;
  overflow: hidden;
}
.circular-button:hover {
  color: white;
}
.circular-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: tomato;
  z-index: -1;
  border-radius: 50% 50% 0 0;
  height: 0%;
}

.circular-button:hover::before {
  height: 190%;

  transition: all 0.5s;
}

.layers {
  color: white;
  text-decoration: none;
  padding: 20px 40px;
  text-transform: uppercase;
  background-color: rgb(114, 33, 33);
  color: rgb(218, 192, 192);
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 2px;

  position: relative;
  /* z-index: -1; */
}

.layers::before {
  content: "before";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgb(207, 131, 30);
  display: flex;
  justify-content: center;
  align-items: center;

  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
  transition-delay: 0.3s;
}
.layers:hover::before,
.layers:hover::after {
  transform: rotateX(0deg);
}
.layers::after {
  content: "chips after";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(65, 59, 52);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: bottom;
  transition: all 0.5s;
  transition-delay: 0.4s;
}

.swipe-left {
  text-decoration: none;
  padding: 20px 40px;
  border: cadetblue solid 2px;
  font-size: 30px;
  position: relative;
  overflow: hidden;
  color: transparent;
}

.swipe-left::before {
  content: "button";

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: cornflowerblue;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.9s;
}

.swipe-left:hover::before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}
.swipe-left::after {
  content: "after";

  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: cornflowerblue;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.9s;
  transform: scale(0) rotateY(0deg);
  opacity: 0;
}
.swipe-left:hover::after {
  left: 0%;
  transform: scale(1) rotateY(360deg);
  opacity: 1;
}

.merging-dots {
  width: 220px;
  height: 80px;
  color: #ff0;
  background-color: transparent;
  font-size: 26px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 80px;
  transition: all 0.5s;
  position: relative;
}

.merging-dots:before,
.merging-dots:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #ff0;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
  z-index: -1;
  opacity: 0;
}
.merging-dots:before {
  left: 0;
  box-shadow: -100px 0 0 #ff0;
}
.merging-dots:after {
  right: 0;
  box-shadow: 100px 0 0 #ff0;
}

.merging-dots:hover:before {
  left: 50%;
  box-shadow: 30px 0 0 #ff0;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}

.merging-dots:hover:after {
  right: 50%;
  box-shadow: -30px 0 0 #ff0;
  transform: translateX(50%) translateY(-50%);
  opacity: 1;
}
span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff0;
  border-radius: 8px;
  transform: scale(0);
  transition: all 0.3s;
  z-index: -1;
}
.merging-dots:hover span {
  transform: scale(1);
  transition-delay: 0.4s;
}
.merging-dots:hover {
  color: #262626;
  transition-delay: 0.4s;
}

.two-backgrounds {
  width: 300px;
  height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  position: relative;
  transition: all 0.2s;
  color:white;
}
.two-backgrounds::before {
  content:"";
  position:absolute ;
  top:-3px;
  left:-3px;
  width: 100%;
  height:100%;
  background-color: rgba(7, 138, 190, 0.836);
  z-index: -1;
  mix-blend-mode:multiply ;
  transition: all 0.2s;
  transform-origin: top;
}
.two-backgrounds::after{
  content:"";
  position:absolute ;
  top:3px;
  left:3px;
  width: 100%;
  height:100%;
  background-color: rgba(255, 185, 55, 0.836);
  z-index:-1;
  mix-blend-mode:multiply ;

  transition: all 0.2s;
  transform-origin: bottom;
}

.two-backgrounds:hover::before {
  top:-6px;
  left:0;
  transform: perspective(1000px) rotateX(75deg);
}
.two-backgrounds:hover::after {
  bottom:6px;
  left:0;
  transform: perspective(1000px) rotateX(-75deg);
}
.two-backgrounds:hover {
  color:darkgray
}


